<?xml version="1.0"?>
<config>
    <modules>
        <Threeprong_Shopby>
            <version>0.1.0</version>
        </Threeprong_Shopby>
    </modules>
    <global>
        <helpers>
            <amshopby>
                <rewrite>
                    <data>Threeprong_Shopby_Helper_Data</data>
                </rewrite>
            </amshopby>
        </helpers>
        <blocks>
            <amshopby>
                <rewrite>
                    <top>Threeprong_Shopby_Block_Top</top>
                    <catalog_layer_view>Threeprong_Shopby_Block_Catalog_Layer_View</catalog_layer_view>
                </rewrite>
            </amshopby>
        </blocks>
        <models>
            <amshopby>
                <rewrite>
                    <url_builder>Threeprong_Shopby_Model_Url_Builder</url_builder>
                </rewrite>
            </amshopby>
        </models>
    </global>
    <frontend>
        <events>
            <core_block_abstract_to_html_before>
                <observers>
                    <amshopby_core_block_abstract_to_html_before>
                        <type>disabled</type>
                    </amshopby_core_block_abstract_to_html_before>
                    <threeprong_shopby_core_block_abstract_to_html_before>
                        <type>singleton</type>
                        <class>Threeprong_Shopby_Model_Observer</class>
                        <method>onCoreBlockAbstractToHtmlBefore</method>
                    </threeprong_shopby_core_block_abstract_to_html_before>
                </observers>
            </core_block_abstract_to_html_before>
        </events>
    </frontend>
</config>
